*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.top{
    background-color: #7b113a;
    height: 30%;
    /* width: 100%; */
}

.heading{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 330%;
    padding-top: 2vh;
    font-family: 'Niconne', cursive;
}

.bottom{
    background-color: #ead3cb;
    height: 70%;
}

.container{
    position: absolute;
    width: 70%;
    height:80%;
    top: 15vh;
    left: 15vw;
    /* right: 15vw; */
    background-color: white;
    border-radius: 30px;
    padding: 50px;
}

.data{
    color: #7b113a;
    /* font-size: 220%; */
    font-size: 2.4vw;
    text-align: center;
}
.doctor{
    margin-top: 8vh;
}

.docname{
    text-align: center;
    color: #7b113a;
    font-size: 3vh;
    font-weight: 700;
}

.docimage{
    /* background-color: yellow; */
    height: 38vh;
    background-image: url(./img/docfin.PNG);
    width: 45vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.btn{
    background-color: #7b113a;
    width: 40vh;
    height: 8vh;
    margin: 2.5vh auto;
    display: flex;
}


a{
    font-size: 150%;
    color: white;
    text-decoration: none;
    margin: 1vh auto;
}

iframe{
    height: 100%;
    width: 90%;
    margin-left: 50px;
}

@media screen and (max-width: 500px){
    .container{
        padding: 0;
        width: 90%;
        left: 4.5vw;
        padding-top: 3vh;
    }

    .data{
        font-size: 6vw;
    }
    .doctor{
        margin-top: 5vh;
    }
    .docimage{
        width: 60vw;
    }
    .btn{
        width: 50vw;
    }
    iframe{
        margin-left:3vw;
        /* width: 60vw; */
    }
}

