*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'glacial-reg', sans-serif;
    /* font-weight: 400; */
}

@font-face {
    font-family: 'glacial-reg';
    src: url('./font/GlacialIndifference-Regular.otf');
    /* src: url('./font/GlacialIndifference-Bold.otf'); */
}

@font-face {
    font-family: 'glacial-bold';
    /* src: url('./font/GlacialIndifference-Regular.otf'); */
    src: url('./font/GlacialIndifference-Bold.otf');
}

.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.top{
    background-color: #c486ac;
    height: 30%;
    /* width: 100%; */
    padding-top: 2vh;

}

.heading{
    color: white;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Oleo Script', cursive;
    /* height: 50px; */
    /* padding-top: 0; */
    display: flex;
    justify-content: center;
}

.head-data{
    font-family: 'Oleo Script', cursive;
}

#in{
    font-family: 'Oleo Script', cursive;
    background: #9b2b71;
    padding-top: 0;
    height: 45px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0.5vw;
    margin-top: 1.5vh;
    border-radius: 4px;
}

.bottom{
    background-color: #fde9f5;
    height: 70%;
}

.container{
    position: absolute;
    width: 85vw;
    height:80vh;
    top: 15vh;
    left: 7.5vw;
    /* right: 15vw; */
    background-color: white;
    border-radius: 30px;
    padding: 35px;
}

.data{
    color: #9b2b71;
    /* font-size: 220%; */
    font-size: 1.9vw;
    text-align: center;
}
.doctor{
    margin-top: 4vh;
}

.docname{
    text-align: center;
    color: #9b2b71;
    font-size: 3.3vh;
    font-family: 'glacial-bold',sans-serif;
    /* font-weight:1000; */
}

.docimage{
    /* background-color: yellow; */
    height: 38vh;
    background-image: url(./img/doc.PNG);
    width: 45vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-top: 1vh;
}

.btn{
    background-color: #9b2b71;
    width: 40vh;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    margin-top: -3vh;
    border-radius: 5px;
    
}


a{
    font-size: 150%;
    color: white;
    text-decoration: none;
    margin: auto;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.icon{
    margin: auto 0.3vw;
    cursor: pointer;
}

.conc{
    color: #9b2b71;
    font-family: 'glacial-reg';
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.in2{
    font-family: 'Oleo Script';
    color: #9b2b71;
    font-size: 2vw;
    display: flex;
    justify-content: center;
}

iframe{
    height: 100%;
    width: 90%;
    margin-left: 50px;
}

@media screen and (max-width: 500px){
    .container{
        padding: 0 5px;
        width: 90%;
        left: 4.5vw;
        padding-top: 3vh;
    }

    .data{
        font-size: 5vw;
    }
    .doctor{
        margin-top: 5vh;
    }
    .docname{
        font-size: 6vw;    
    }
    .docimage{
        width: 60vw;
    }
    .btn{
        width: 170px;
        height: 40px;
    }
    iframe{
        margin-left:3vw;
        /* width: 60vw; */
    }
    .top{
        padding-top: 3.5vh;
    }
    .heading{
        font-size: 2.5rem;
    }
    .head-data{

    }
    #in{
        /* width: 12vw;
        height: 5.5vh;
         */
        width: 45px;
        height: 40px;
         /* margin-left: 1.5vw;
        margin-right: 1.5vw; */
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1vh;
    }
    .in2{
        font-size:  5vw;
    }
}

